<a href="https://colab.research.google.com/github/AZKOmaster/Data_test/blob/main/birnichi_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = list('1')
b = list('2')
print(a + b)

['1', '2']

# Heading
[Kirish](https://mohirdev.uz)

-mundarija

In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

In [2]:
tf.__version__

'2.8.0'

In [3]:
torch.__version__

'1.10.0+cu111'

In [4]:
np.__version__

'1.21.5'

In [1]:
import torch
torch.cuda.is_available()

True

In [2]:
! ls

sample_data

In [3]:
import pandas as pd
files = pd.read_excel('./data/Baraka.xlsx')

files.head()

,Янгибой Файз Карим,Unnamed: 1,Unnamed: 2,Азим Аваз Азиз Барака,Unnamed: 4,Unnamed: 5
0,Азим Умуров,NaN,NaN,Азим Гулноза Тўйбой,NaN,NaN
1,Отабек Азизбек Бунёдкор,NaN,NaN,Алишер Абдулло замини,NaN,NaN
2,Олим Олтин бошоқ даласи,NaN,NaN,Асадбек Бахром Омади,NaN,NaN
3,Исроил Жавохир Жума,NaN,NaN,Ахтам Акмал Азамат замин,NaN,NaN
4,Очил Зафар омади,NaN,NaN,Барака Олтин Водий чорвадори,NaN,NaN